<!-- Passing Data With Event Binding -->
<!-- <input type="text"
(input)='onUpdateServerName($event)'
!-->


<!-- Two Way Data Binding -->
<input type='text' [(ngModel)]='serverName'>

<!-- Property Binding And Event Binding  -->
<button class='btn btn-primary'
[disabled]='!allowNewServer'
(click)='onCreateServer()'
>Add Sever</button>
<p *ngIf='serverCreated;else noServer'>
{{serverCreationStatus}}
</p>
<ng-template #noServer>
    <p>
    No Server was Created
    </p>
</ng-template>

<app-server *ngFor='let server of servers;let i=index'></app-server>